.chat-form {
  @apply p-0 w-full flex justify-center items-center absolute bottom-0 left-0;
  height: 3.5rem;
}

.chat-form__wrapper {
  @apply w-full h-full;
}

.chat-form__group {
  @apply flex justify-between items-end h-full shadow-2xl;
}

.chat-form__control {
  @apply p-4 w-full h-full outline-none;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}

.chat-form__btn {
  @apply inline-block h-full uppercase shadow font-bold bg-primary text-white p-4;
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}
