body {
  @apply overflow-x-hidden w-screen h-screen text-gray-darkest;
  background: url("../media/bg.svg") no-repeat center center/cover;
}

.ReactModal__Overlay {
  @apply z-50 overflow-y-auto;
}

.ReactModal__Content {
  inset: unset !important;
  inset-inline-start: 50% !important;
  inset-block-start: 50% !important;
  border: 0 !important;
  border-radius: 0.75rem !important;
  transform: translate(-50%, -50%);
  @apply shadow-xl border border-gray-light w-11/12 max-w-xl max-h-full;
}

/* =========== */
/* form styles */

.form-group {
  @apply flex mt-3 flex-col gap-1 justify-center items-start w-full;
}
.form-group:first-child {
  @apply mt-0;
}
.form-label {
  @apply text-gray-dark;
}
.form-group.optional .form-label::after {
  content: "*optional";
  vertical-align: text-top;
  @apply inline-block text-gray text-xs ms-1;
}
.form-control {
  @apply py-3 px-4 block w-full rounded-lg shadow-sm bg-white text-gray-dark text-sm focus:outline-none border border-gray-light transition-colors ring-2 ring-transparent focus:ring-2 hover:shadow focus:ring-gray-light;
  height: 50px;
  max-height: 50px;
}
.input-group {
  @apply relative w-full;
  height: 50px;
}
.input-group .form-control {
  @apply absolute w-full h-full pe-8;
}
.input-group svg {
  @apply absolute top-1/2;
  inset-inline-end: 1rem;
  transform: translateY(-50%);
}
.input-group .input-icon {
  @apply cursor-pointer;
}
.form-wrapper {
  @apply px-3 py-1;
}

.form-header {
  @apply flex flex flex-col gap-1;
}

.form-header__title {
  @apply text-3xl;
}

.form-header__subtitle {
  @apply text-gray text-sm tracking-wide;
}

.form-body {
  @apply py-6;
}

.form-footer {
}

.form-footer__actions {
  @apply flex gap-2;
}
