.chat-item {
  @apply p-4 md:pe-6 cursor-pointer transform md:border-l-4 border-transparent hover:border-indigo-600 transition-all hover:shadow-inner hover:opacity-90 overflow-hidden;
}
.chat-item.active {
  @apply border-indigo-600 shadow-inner;
}

.chat-item__wrapper {
  @apply md:flex gap-4 justify-start items-center relative;
}

.chat-item__notification {
  @apply absolute w-1 h-1 top-0 right-0 rounded-full bg-red-500 z-10;
}
.chat-item__notification::before {
  content: "";
  @apply absolute top-0 left-0 w-full h-full bg-red-500 rounded-full;
  z-index: -1;
  animation: beat 1s linear infinite;
}

@keyframes beat {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(5);
  }
}

.chat-item__img-wrapper {
  @apply relative;
  flex-basis: auto;
}

.chat-item__img {
  @apply rounded-full relative w-8 h-8 md:w-12 md:h-12 object-cover;
}

.chat-item__img::before {
  content: "";
  @apply absolute w-full h-full rounded-xl bg-indigo-600;
}

.chat-item__content-wrapper {
  flex-basis: 70%;
}

.chat-item__content {
}

.chat-item__title {
  @apply hidden md:block text-white mb-1;
}

.chat-item__subtitle {
  @apply hidden md:block text-gray-400 text-xs;
}
