.chat-item {
  @apply px-4 py-0 h-16 md:pe-6 cursor-pointer transform transition-all hover:bg-primary overflow-hidden;
}
.chat-item.active {
  @apply shadow;
}

.chat-item__wrapper {
  @apply h-full flex gap-4 justify-start items-center relative;
}

.chat-item__notification {
  @apply absolute w-1 h-1 top-0 right-0 rounded-full bg-danger z-10;
}
.chat-item__notification::before {
  content: "";
  @apply absolute top-0 left-0 w-full h-full bg-danger rounded-full;
  z-index: -1;
  animation: beat 1s linear infinite;
}

@keyframes beat {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(5);
  }
}

.chat-item__img-wrapper {
  @apply relative;
  flex-basis: auto;
}

.chat-item__img {
  @apply rounded-full relative w-8 h-8  object-cover;
}

.chat-item__img::before {
  content: "";
  @apply absolute w-full h-full rounded-lg bg-primary;
}

.chat-item__content-wrapper {
  flex-basis: auto;
}

.chat-item__content {
}

.chat-item__title {
  @apply md:block text-white mb-1;
}

.chat-item__subtitle {
  @apply hidden md:block text-gray-light text-xs;
}
