.side-menu {
  @apply transition-all overflow-hidden z-10 w-0 md:w-60 lg:w-80 max-w-full bg-gray-darkest h-screen fixed top-0 left-0;
}

.side-menu .side-menu__toggle {
  @apply fixed top-2 left-2 bg-white z-50 md:hidden text-gray shadow rounded-full p-0 text-xs h-12 w-12 flex justify-center items-center;
}

.side-menu.active {
  @apply w-full md:w-60 lg:w-80;
}

.side-menu.active .side-menu__toggle {
  @apply hidden;
}

.side-menu__wrapper {
  @apply h-screen;
}

.side-menu__form {
  @apply w-full h-16 p-4 border-transparent border-b border-gray-dark;
}

.side-menu__form-wrapper {
  @apply hidden md:flex justify-between items-center h-full gap-2;
}

.side-menu.active .side-menu__form-wrapper {
  @apply flex md:w-full;
}

.side-menu__form-search {
  @apply relative pl-8;
}

.side-menu__form-search svg {
  @apply absolute left-0 top-1/2 opacity-70 w-4;
  transform: translateY(-50%);
  stroke: white;
}

.side-menu__form-control {
  @apply bg-transparent outline-none text-white w-full;
}

.side-menu__form-btn {
  @apply flex justify-center items-center shadow-inner bg-primary text-white rounded-full w-8 h-8;
  min-width: 2rem;
}

.side-menu__list {
  @apply overflow-x-hidden;
  height: calc(100% - 4rem);
}

.side-menu__item {
  @apply border-b border-gray-dark;
}
